<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Serene</title>
</head>

<div id="logoTitle">
    <article>
        <img src="img/sereneWhite.png" alt="Serene logo" class="logo">
    </article>
    <article>
        <h1 id="slogan">Serene: the Life Balancer</h1>
    </article>
</div>

<div id="taskList">

    <p id="dateTime"></p><br>

<div id="user">
    <p>{{ message }}</p><br>
        <label>Enter your name</label><br>
        <input id="nameInput"
            v-model="yourName"
            placeholder="Your name in lights!">
        <button id="submit" v-on:click="logIn">Submit</button>
    <br>
</div>


    <form id="inputFields" v-on:submit.prevent="addItem">
        <label for="newItem">Add a task</label>
        <input
                required
                type="text"
                v-model="newItemText"
                id="newItem"
                placeholder="Eg book hotel rooms"
        >
        <label for="newDate">Date</label>
        <input
                type="date"
                required
                v-model="newItemDate"
                id="newDate"
                placeholder="YYYY-MM-DD"
        >
        <button id="add">Add</button>
        <p id="emptyList" v-if="items.length < 1">Add something to your list!</p>
    </form>
    <button id="priority" v-if="items.length > 1 && this.hide === true" v-on:click="prio">Hide non-priority tasks</button>
    <button id="priority2" v-if="items.length > 1 && this.hide === false" v-on:click="prio">Show all tasks</button>
    <p id="hidden" v-if="items.length > 1 && this.hide === false">Showing priority tasks only!</p>
    <ul>
        <li v-if="hide === true"
                is="item"
                v-for="(item, index) in this.items"
                v-bind:style="{color: item.priorityColor}"
                v-bind:key="item.id"
                v-bind:text="' ' + item.text"
                v-bind:date="item.date"

                v-on:remove="items.splice(index, 1)"
                v-on:priority="item.priority = true; item.priorityColor = 'red'"
                v-on:notpriority="item.priority = false; item.priorityColor = 'black'"
        ></li>
        <li v-if="hide === false && item.priority === true"
                is="item"
                v-for="(item, index) in this.items"
                v-bind:style="{color: item.priorityColor}"
                v-bind:key="item.id"
                v-bind:text="' ' + item.text"
                v-bind:date="item.date"

                v-on:remove="items.splice(index, 1)"
                v-on:priority="item.priority = true; item.priorityColor = 'red'"
                v-on:notpriority="item.priority = false; item.priorityColor = 'black'"
        ></li>
    </ul>

    <article id="controls">
        <button class="GlobalButton" v-if="items.length > 1" v-on:click="sortByDate">Sort by date</button>
        <button class="GlobalButton" v-if="items.length > 1" v-on:click="sortById">Sort by order added</button>
        <button class="GlobalButton" v-if="items.length > 1" v-on:click="sortByPriority">Sort by priority</button>
        <!--<button class="GlobalButton" v-if="items.length > 0" v-on:click="save">Save List</button>
        <button class="GlobalButton" v-on:click="load">Load List</button>
        <button class="GlobalButton" v-on:click="deleteAll">Delete saved data</button>-->
    </article>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    let today = new Date();
    let fullDate = 'Current date: ' + today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();
    document.getElementById("dateTime").innerHTML = fullDate;

    let hourNow = today.getHours();
    let greeting;
    if (hourNow > 18) {
        greeting = 'Good evening ';
    } else if (hourNow > 12) {
        greeting = 'Good afternoon ';
    } else if (hourNow > 0) {
        greeting = 'Good morning ';
    } else greeting = 'Welcome ';


    Vue.component('item', {
        template: `
    <li id="tasks">
      {{date + text }}
      <button class="gridButton" v-on:click="$emit('remove')">Remove</button>
      <button class="gridButton" v-on:click="$emit('priority')">Make priority</button>
      <button class="gridButton" v-on:click="$emit('notpriority')">Not priority</button>
    </li>
    `,
        props: ['text', 'date', 'priority']
    })

    new Vue({
        el: '#taskList',
        data: {
            id: null,
            text: null,
            date: null,
            priority: null,
            priorityColor: null,
            newItemText: null,
            newItemDate: null,
            newItemPriority: false,
            newItemPriorityColor: 'black',
            hide: true,
            today: new Date(),
            yourName: '',
            message: 'Welcome',
            items: [
                {
                    id: 1,
                    text: 'Complete html Vue project',
                    date: '2021-04-16',
                    priority: true,
                    priorityColor: 'red'
                },
                {
                    id: 2,
                    text: 'Acquire plane tickets',
                    date: '2021-06-30',
                    priority: false,
                    priorityColor: 'black'
                },
                {
                    id: 3,
                    text: 'Book airport transfer',
                    date: '2022-05-01',
                    priority: false,
                    priorityColor: 'black'
                },
                {
                    id: 4,
                    text: 'Get present for the kids',
                    date: '2021-07-15',
                    priority: true,
                    priorityColor: 'red'
                }
            ],
            nextItemId: 5
        },
        methods: {
            addItem: function () {
                this.items.push({
                    id: this.nextItemId++,
                    text: this.newItemText,
                    date: this.newItemDate.toString(),
                    priority: false,
                    priorityColor: this.newItemPriorityColor
                })
                console.log(this.nextItemId)
                console.log(this.newItemText)
                console.log(this.newItemDate)
                console.log(this.newItemPriority)
                console.log(this.newItemPriorityColor)
                this.newItemText = null
                this.newItemDate = null
                this.newItemPriority = false
                this.newItemPriorityColor = 'black'
            },
            logIn: function () {
                console.log('LogIn called')
                console.log("Name entered is: " + this.yourName);
                if((this.yourName !== null) && (this.yourName !== '')) {
                    localStorage.setItem('user', this.yourName);
                    this.message = greeting + this.yourName;
                }
            },
            prio: function () {
                if(this.hide === true){
                    this.hide = false
                } else if(this.hide === false){
                    this.hide = true
                }
                console.log(this.hide)
            },
            sortByDate: function (){
                console.log('sortByDate() called')
                return this.items.sort((a, b) => new Date(a.date) - new Date(b.date))
            },
            sortById: function (){
                console.log('sortById() called')
                return this.items.sort((a, b) => Number(a.id) - Number(b.id))
            },
            sortByPriority: function (){
                console.log('sortByPriority() called')
                return this.items.sort((a, b) => Boolean(b.priority) - Boolean(a.priority))
            },
            save: function () {
                console.log('save pressed')
                localStorage.setItem('token','token')
                localStorage.clear()
                for (let i = 0; i < this.items.length; i++) {

                    localStorage.setItem('id'+(i+1), this.items[i].id)
                    console.log('id in save ' + (i+1) + ': ' + this.items[i].id)
                    localStorage.setItem('text'+(i+1), this.items[i].text)
                    console.log('text in save ' + (i+1) + ': ' + this.items[i].text)
                    localStorage.setItem('date'+(i+1), this.items[i].date)
                    console.log('date in save ' + (i+1) + ': ' + this.items[i].date)
                    localStorage.setItem('priority'+(i+1), this.items[i].priority)
                    console.log('priority in save ' + (i+1) + ': ' + this.items[i].priority)
                    localStorage.setItem('priorityColor'+(i+1), this.items[i].priorityColor)
                    console.log('priorityColor in save ' + (i+1) + ': ' + this.items[i].priorityColor)
                }
            },
            load: function () {
              console.log('load pressed')
                for (let i = 0; i < (localStorage.length /5); i++) {

                    this.items[i].id = localStorage.getItem('id'+[i+1])
                    this.items[i].text = localStorage.getItem('text'+[i+1])
                    this.items[i].date = localStorage.getItem('date'+[i+1])
                    this.items[i].priority = localStorage.getItem('priority'+[i+1])
                    this.items[i].priorityColor = localStorage.getItem('priorityColor'+[i+1])

                    console.log(this.items[i].id)
                    console.log(this.items[i].text)
                    console.log(this.items[i].date)
                    console.log(this.items[i].priority)
                    console.log(this.items[i].priorityColor)
                }
            },
            deleteAll: function () {
                console.log('delete pressed')
                localStorage.clear()
                console.log('data deleted')
            }
        }
    })


</script>

<body>

</body>
</html>